@model List<FlashcardPack>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flashcard Packs</title>

    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="~/css/flashcardPack.css">
    <link rel="stylesheet" href="~/css/textArea.css">
</head>
<body>

    <div style="display: flex; justify-content: space-between; align-items: center;">
    <!-- "Sample Flashcards" text on the left -->
        <h1>Flashcards Packs</h1>
        @using (Html.BeginForm("AddFlashcardPack", "FlashcardPack", FormMethod.Post))
        {
            <form>
                <!-- Flashcard pack name input field -->
                <div class="form-group">
                    <label for="packName">Pack Name:</label>
                    <input type="text" id="packName" name="name" class="form-control" required>
                </div>

                <!-- Additional fields specific to flashcard packs if needed -->
                <!-- Submit button to add the flashcard pack -->
                <button type="submit" class="btn btn-primary">Add Pack</button>
            </form>
        }
    </div>

    <div class="flashcardPack-container">
        @foreach (var flashcardPack in Model)
        {
            <div class="flashcardPack">

                <textarea class="input" id="pack-@flashcardPack.ID" readonly style="resize: none; text-align: left;">
                    @flashcardPack.Name
                 </textarea>

                @using (Html.BeginForm("RemoveFlashcardPack", "FlashcardPack", FormMethod.Post))
                {
                    <button id="remove-pack-@flashcardPack.ID" class="remove-button" data-flashcardPack-id="@flashcardPack.ID" name="flashcardPackID" value="@flashcardPack.ID">X</button>
                }

                <button class="edit-flashcard-pack-button" data-flashcardPack-id="@flashcardPack.ID">Edit</button>
                <button data-flashcardPack-id="@flashcardPack.ID" class="btn btn-primary save-button" style="display: none;">Save</button>
                <button data-flashcardPack-id="@flashcardPack.ID" class="btn btn-primary btn-red cancel-button" style="display: none;" onclick="location.href='@Url.Action("CreateSampleFlashcardPack")';">Cancel</button>
                
                @using (Html.BeginForm("ViewFlashcardPack", "FlashcardPack", FormMethod.Post))
                {
                    <button id="view-pack-@flashcardPack.ID" class="view-flashcard-pack-button" data-flashcardPack-id="@flashcardPack.ID" name="id" value="@flashcardPack.ID">View Flashcard Pack</button>
                }
            </div>
        }
    </div>

    <script src="~/js/viewFlashcardPackButton.js"></script>
    <script src="~/js/editFlashcardPack.js"></script>

</body>
</html>
