@model Flashcard

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flashcard</title>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="~/css/presentFlashcard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/regular.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/solid.min.css">
    


</head>
<body>
    <div class="flashcard-container">
        <div class="flashcard">
            <div class="question" id="question">@Model.Question</div>
            <div class="answer" style="display: none;" id="answer">@Model.Answer</div>
        </div>
        <form id="revealForm">
            <button id="revealButton" class="reveal-button">Reveal</button>
        </form>

        <div id="is-favorite" data-isfavorite="@Model.IsFavorite.ToString().ToLower()" />
        <div id="pack-id" data-pack-id="@Model.PackID.ToString().ToLower()" />
        <div id="flashcard-id" data-flashcard-id="@Model.ID.ToString().ToLower()" />

        <button id="favorite-button" class="favorite-button">
            <i id="filled" class="fas fa-star" title="Favorite" style="@(Model.IsFavorite ? "display: inline-block;" : "display: none;")"></i>
            <i id="non-filled" class="far fa-star" title="Favorite" style="@(Model.IsFavorite ? "display: none;" : "display: inline-block;")"></i>
        </button>

    </div>

    <form id="CorrectAnswerForm" action="PresentNextFlashcard" method="post">
        <input type="hidden" name="packID" value=@Model.PackID />
        <input type="hidden" name="currentFlashcardID" value=@Model.ID />
        <button id="correctAnswerButton" style="display: none;" class="correctAnswer">Correct  </button>
    </form>

    <form id="IncorrectAnswerForm" action="PresentNextFlashcard" method="post">
        <input type="hidden" name="packID" value=@Model.PackID />
        <input type="hidden" name="currentFlashcardID" value=@Model.ID />
        <button id="incorrectAnswerButton" style="display: none;" class="incorrectAnswer">Incorrect</button>
    </form>

    <script src="~/js/presentFlashcard.js"></script>
    
</body>
